<template lang="pug">
  v-container.pa-3(fluid fill-height)
    v-layout(row wrap xs12 v-if="loading")
      v-progress-linear.smprogress(color="green" indeterminate :active="loading" :height="3")
    template(v-else)
      v-layout(row mt5 v-if="!challenge")
        v-flex(xs12 text-sm-center mt-5)
          v-icon(large mb-2) sentiment_very_dissatisfied
          h2 No challenge data
      v-layout.pa-0(row wrap v-else)
        v-flex(d-flex xs12 md5 v-if="instructionPanel")
          instruction-panel(:challenge='challenge' :solvedChallenge='solvedChallenge')
        v-flex(d-flex xs12 :class="{ 'md7': instructionPanel, 'md12': !instructionPanel }")
          solution-panel(:challenge='challenge')
      challenge-leaderboard-modal
      challenge-versions-modal
</template>

<script>
import InstructionPanel from "~/components/programming/InstructionPanel";
import SolutionPanel from "~/components/programming/SolutionPanel";
import ChallengeLeaderboardModal from "~/components/modals/ChallengeLeaderboardModal";
import ChallengeVersionsModal from "~/components/modals/ChallengeVersionsModal";

import { eventBus, httpCfg, role } from "~/util/util";
import { mapGetters, mapMutations } from "vuex";

export default {
  components: {
    ChallengeLeaderboardModal,
    ChallengeVersionsModal,
    InstructionPanel,
    SolutionPanel
  },
  data() {
    return {
      challenge: null,
      solvedChallenge: null,
      loading: false
    };
  },
  computed: {
    ...mapGetters(["instructionPanel", "authUser"]),
    isAuth() {
      return this.authUser && this.authUser.uid;
    }
  },
  methods: {
    ...mapMutations(["setTitle", "setDrawer"]),
    loadChallenge() {
      if (!this.$route.params.id) {
        return;
      }
      this.$axios
        .get(`/v1/dev/challenges/${this.$route.params.id}`, httpCfg)
        .then(res => {
          if (res.data.disabled) {
            if (this.isAuth && this.authUser.role == role.Administrator) {
              eventBus.snackbarShown({
                type: "warning",
                msg: "Showing temporary disabled challenge for admin only"
              });
            } else {
              this.challenge = null;
              eventBus.snackbarShown({
                type: "warning",
                msg: "This challenge is temporary disabled"
              });
              return;
            }
          }
          this.challenge = res.data;
          this.setTitle(
            `<a href="/arena/programming">Programming</a>&nbsp;&nbsp; / &nbsp;&nbsp;${
              this.challenge.title
            }`
          );
          this.updateHeaderMeta(this.challenge.title, this.challenge.shortDesc)
          this.loadIsSolvedChallenge();
        })
        .catch(err => {
          this.challenge = null;
          eventBus.snackbarShown({
            type: "error",
            msg: `Failed to load challenge: ${err}`
          });
        })
        .finally(() => {
          this.loading = false;
        });
    },
    loadIsSolvedChallenge() {
      if (!this.$route.params.id || !this.isAuth) {
        return;
      }
      this.$axios
        .get(
          `/v1/usc/u/${this.authUser.uid}/c/${this.$route.params.id}`,
          httpCfg
        )
        .then(res => {
          this.solvedChallenge = res.data;
        })
        .catch(err => {
          this.solvedChallenge = null;
          console.log(err);
          eventBus.snackbarShown({
            type: "error",
            msg: `Failed to load solved challenge: ${err}`
          });
        });
    },
    updateHeaderMeta(title, description) {
      if (!title) {
        title = "Code Fighter";
      }
      let titleEl = document.querySelector("head title");
      titleEl.textContent = title;
      if (!description) {
        description = "An online coding arena";
      }
      let descEl = document.querySelector('head meta[name="description"]');
      descEl.setAttribute("content", description);
    }
  },
  created() {
    eventBus.$on("loginUser", () => {
      this.loadIsSolvedChallenge(); // Refresh solved status
    });
    eventBus.$on("logoutUser", () => {
      this.solvedChallenge = null;
    });
    eventBus.$on("solveChallenge", id => {
      this.loadChallenge(); // Reload challenge's solvedBy and its user solved challenge meta
    });
  },
  mounted() {
    this.loading = true;
    this.setDrawer(false);
    eventBus.drawerToggled(false);
    if (!this.authUser || !this.authUser.uid) {
      eventBus.loginModalShown(); // Force login first
    }
    this.loadChallenge();
  }
};
</script>

<style lang="stylus" scoped>
.v-progress-linear {
  &.smprogress {
    margin-top: -12px;
  }
}
</style>
