// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

.page
  @extend .fade-transition

// fix card text with markdown indent not correct
.card__text ul, .card__text ol {
  overflow: hidden;
  padding-left: 1.2em;
}