<template lang="pug">
  v-app(dark)
    v-navigation-drawer(
      :mini-variant="miniVariant"
      :clipped="clipped"
      v-model="localDrawer"
      fixed
      app)
      v-list
        template(v-for="item in items")
          v-list-tile(v-if="!item.items" :key="item.title" :to='item.to')
            v-list-tile-action
              v-icon {{item.icon}}
            v-list-tile-content
              v-list-tile-title {{item.title}}
          v-list-group(v-else
            :prepend-icon='item.icon')
            v-list-tile(slot="activator" :key="item.title" :to='item.to')
              v-list-tile-content
                v-list-tile-title {{item.title}}
            v-list-tile(
              v-for="subItem in item.items"
              :key="subItem.title"
              :to="subItem.to")
              v-list-tile-action(v-if="subItem.icon")
                v-icon {{subItem.icon}}
              v-list-tile-content
                v-list-tile-title {{subItem.title}}
    
    v-toolbar(
      fixed
      app
      :clipped-left="clipped"
      style="z-index: 100")
      v-toolbar-side-icon(@click="toggleDrawer")
      v-toolbar-title
        span.rich-title(v-html="title")
      v-spacer
      div.mr-0(v-if="!isAuth")
        v-btn.white--text(color="info" @click.stop="clickUserMenu(-1)") Login
        v-tooltip(bottom)
          v-btn.mr-3(flat fab small @click.stop="aboutPage" slot="activator")
            v-icon help_outline
          span About
      div.mr-0(v-else)
        //- v-btn(flat fab @click="showCongratsDialog") // Test congratulation modal. Remove later
        //-   v-icon fingerprint
        v-btn(flat fab @click="showNotificationModal")
          v-badge(:value="isShowNotificationBadge" overlap color="error")
            template(v-slot:badge)
              span
            v-icon notifications_none
        v-menu.ma-3.hidden-sm-and-down(bottom left :nudge-bottom="45")
          v-avatar.grey.lighten-4(size="40" slot="activator")
            img(:src="menuAvatar" alt="avatar")
          v-list
            v-list-tile(v-for="(um, idx) in userMenu" :key="idx" @click="clickUserMenu(idx)")
              v-icon.pr-2 {{ um.icon }}
              v-list-tile-title {{ um.text}}
            v-divider
            v-list-tile(@click="aboutPage")
              v-icon.pr-2 info_outline
              v-list-tile-title About

    v-content(class="fill-height")
      nuxt
    login-modal
    logout-modal
    settings-modal
    notification-modal
    congrats-modal
    snackbar
</template>

<script>
  import LoginModal from '~/components/modals/LoginModal.vue'
  import LogoutModal from '~/components/modals/LogoutModal.vue'
  import SettingsModal from '~/components/modals/SettingsModal.vue'
  import NotificationModal from '~/components/modals/NotificationModal.vue'
  import CongratsModal from '~/components/modals/CongratsModal.vue'
  import Snackbar from '~/components/Snackbar.vue'
  import {role, eventBus, congratsText} from '~/util/util'
  import {mapGetters, mapMutations} from 'vuex'

  export default {
    components: {
      LoginModal,
      LogoutModal,
      SettingsModal,
      NotificationModal,
      CongratsModal,
      Snackbar
    },
    data () {
      return {
        clipped: true,
        fixed: true,
        localDrawer: false,
        menuAvatar: '',
        items: [
          { icon: '$vuetify.icons.cf-icon', title: 'Code Fighter', to: '/' },
          { icon: 'account_balance', title: 'Leaderboard', to: '/leaderboard' },
          {
            icon: 'whatshot',
            title: 'Arena',
            items: [
              { icon: 'code', title: 'Programming', to: '/arena/programming' },
              { icon: 'healing', title: 'Testing', to: '/arena/testing' }
            ]
          },
          { icon: 'flare', title: 'Leagues', to: '/leagues' },
          // { icon: 'school', title: 'Training', to: '/training' }
        ],
        miniVariant: false,
        right: true,
        rightDrawer: false,
        userMenu: [
          {icon: 'keyboard_return', text: 'Logout'},
          {icon: 'account_circle', text: 'Profile'},
          {icon: 'settings', text: 'Settings'}
        ]
      }
    },
    computed: {
      ...mapGetters(['title', 'drawer', 'authUser', 'avatar', 'notifications']),
      isAuth () {
        return this.authUser && this.authUser.uid && true
      },
      isShowNotificationBadge() {
        return this.notifications && this.notifications.length > 0
      }
    },
    watch: {
      'drawer' (val) {
        this.localDrawer = val
      },
      'avatar' (val) {
        this.getAvatarURL()
      },
      'authUser' (val) {
        if (val && val.role === role.Administrator) {
          for (let i of this.items) {
            if (i.title === 'Administrator') {
              return
            }
          }
          this.items.push({ icon: 'widgets', title: 'Administrator', to: '/admin' })
          return
        }

        for (let i = 0; i < this.items.length; i++) {
          if (this.items[i].title === 'Administrator') {
            this.items.splice(i, 1)
            return
          }
        }
      }
    },
    methods: {
      ...mapMutations(['setDrawer', 'setNotifications']),
      clickUserMenu (idx) {
        switch (idx) {
          case 0: // Logout
            eventBus.logoutModalShown()
            return
          case 1: // Profile
            this.$router.push(`/users/${this.authUser.uid}`)
            return
          case 2: // Settings
            eventBus.settingsModalShown()
            return
          default:
            eventBus.loginModalShown()
        }
      },
      aboutPage () {
        this.$router.push('/about')
      },
      getAvatarURL () {
        if (!this.avatar) {
          this.menuAvatar = `/api/v1/users/null/avatar`
          return
        }
        this.menuAvatar = `${this.avatar}`
      },
      toggleDrawer () {
        this.setDrawer(!this.drawer)
      },
      showNotificationModal() {
        eventBus.notificationModalShown()
      },
      showCongratsDialog() {
        eventBus.congratsModalShown({type: "levelup", imgSrc: "/ranks/4-1.png", text: "Champion I", subText: congratsText.getLevelUpText()})
        // eventBus.congratsModalShown({
        //       type: "solved",
        //       challengeName: "Journey to the West",
        //       point: 100,
        //       text: congratsText.getSolvedText()
        //     })
      },
      refreshEmailConfirmStatus () {
        if (!this.isAuth) {
          return 
        }
        let confirmCookie = this.getCookie("cf_confirm")
        if (confirmCookie && confirmCookie == "true") {
          console.log("HIT")
          let n = this.cloneObject(this.notifications)
          n.push({"type": "confirm", "level": "error", "msg": "Please confirm your email or your account will be deleted after <b>7 days</b>!<br>You can request new confirmation email from your Profile -> Edit"})
          this.setNotifications(n);
        }
      }
    },
    created () {
      eventBus.$on('forceToggleDrawer', val => {
        this.localDrawer = val
      })
      eventBus.$on('forceToggleDrawer', val => {
        this.localDrawer = val
      })
      eventBus.$on('loginUser', val => {
        this.refreshEmailConfirmStatus()
      })
      eventBus.$on('logoutUser', val => {
        this.setNotifications([])
      })

      this.localDrawer = this.drawer // Reflect from server set
      this.getAvatarURL()

      if (this.authUser && this.authUser.role === role.Administrator) { 
        this.items.push({ icon: 'widgets', title: 'Administrator', to: '/admin' })
      }
    }
  }
</script>

<style>
.toolbar--fixed {
  z-index: 5;
}

.footer--fixed {
  z-index: 5;
}

.rich-title > a {
  color: white;
  text-decoration: none
}
.rich-title > a:hover {
  color: #1E88E5;
}
.rich-title {
  color: rgba(255,255,255,.61) !important;
}

.light-headline {
  font-weight: 300;
  color: #00E676;
}

.v-badge__badge {
  width: 10px !important;
  height: 10px !important;
  top: 0px !important;
  right: 0px !important;
}
</style>
