<template lang="pug">
  v-container(fluid grid-list-md pa-3)
    v-progress-linear.smprogress(color="green" indeterminate :active="loading" :height="3")
    template(v-if="this.activeLeagues && this.activeLeagues.length")
      h1.light-headline Active Leagues
      v-divider(class="mb-3 mt-2")
      v-layout.mb-4(row wrap justify-center)
        v-flex(highlight d-flex v-for="l in activeLeagues" :key='l.id')
          v-card(dark ripple slot="header" @click.native.stop="goToLeague(l.id)" style="cursor: pointer")
            v-img.white--text(height='450px', :src='l.banner')
              v-container(fill-height fluid)
                v-layout(fill-height)
                  v-flex(xs12 align-end flexbox)
                    span.display-3.unselectable(style="text-shadow: 3px 3px #000000") {{ l.title }}
            v-card-actions
              countdown.h1(:time='timeCalculate(l.end)')
                template(slot-scope='props') Ending in {{ props.days }} days, {{ props.hours }} hours, {{ props.minutes }} minutes, {{ props.seconds }} seconds.
              v-spacer
              v-btn(color="info" @click.stop="showTempMessage") join
    template(v-if="this.inComingLeagues && this.inComingLeagues.length")
      h1.light-headline Upcoming Leagues
      v-divider(class="mb-3 mt-2")
      v-layout.mb-4(row wrap justify-center)
        v-flex(d-flex highlight v-for="l in inComingLeagues" :key='l.id')
          v-card(dark ripple slot="header" @click.native.stop="goToLeague(l.id)" style="cursor: pointer")
            v-img.white--text(height='450px', :src='l.banner')
              v-container(fill-height fluid)
                v-layout(fill-height)
                  v-flex(xs12 align-end flexbox)
                    span.display-3.unselectable(style="text-shadow: 3px 3px #000000") {{ l.title }}
            v-card-actions.mt-2.mb-2
              countdown.h1(:time='timeCalculate(l.start)')
                template(slot-scope='props') Starting in {{ props.days }} days, {{ props.hours }} hours, {{ props.minutes }} minutes, {{ props.seconds }} seconds.
    template(v-if="this.pastLeagues && this.pastLeagues.length")
      h1.mt-4.light-headline Ended Leagues
      v-divider(class="mb-3 mt-2")
      v-layout(row wrap justify-center)
        v-flex.xs12(d-flex)
          v-list.pa-0
            v-list-tile(avatar v-for="l in pastLeagues" :key="l.id" @click="goToLeague(l.id)")
              v-list-tile-action
                v-icon(color="success") flare
              v-list-tile-content
                v-list-tile-title {{ l.title }}
                v-list-tile-sub-title(style="font-size: 0.9rem; color: rgba(255,255,255,0.61); font-weight: 300") Ended {{ l.end | unixTsToRelativeTime }}
</template>

<script>
  import {mapMutations} from 'vuex'
  import {eventBus, httpCfg} from '~/util/util'
  import Countdown from '@xkeshi/vue-countdown'
  import moment from 'moment'

  export default {
    components: { Countdown },
    data () {
      return {
        allLeagues: [],
        activeLeagues: [],
        inComingLeagues: [],
        pastLeagues: [],
        loading: false,
      }
    },
    watch: {
      allLeagues (val) {
        this.activeLeagues = []
        this.inComingLeagues = []
        let ts = +new Date()
        for (let l of this.allLeagues) {
          if (l.start*1000  > ts) { // League is not started yet
            this.inComingLeagues.push(l)
            continue
          }
          if (l.end*1000 < ts) { // League ended
            this.pastLeagues.push(l)
            continue
          }
          this.activeLeagues.push(l) // Current active league
        }
        this.sortLeagues()
      }
    },
    methods: {
      ...mapMutations(['setTitle']),
      loadLeagues () {
        this.$axios.get(`/v1/leagues`, httpCfg) // TODO: May load limited past leagues only
          .then((res) => {
            this.allLeagues = res.data
          })
          .catch((err) => {
            this.allLeagues = []
            console.error(err)
            eventBus.snackbarShown({type: 'error', msg: `Failed to load leagues: ${err.message}`})
          })
          .finally(() => {
            this.loading = false
          })
      },
      timeCalculate (start) {
        start *= 1000
        if (moment(start).isAfter(moment())) {
          return moment(start).toDate() - moment().toDate()
        }
        return 0
      },
      goToLeague (id) {
        this.$router.push(`/leagues/${id}`)
      },
      sortLeagues () {
        if (this.pastLeagues && this.pastLeagues.length > 1) {
          this.pastLeagues = this.pastLeagues.sort((a, b) => {
            return b.end - a.end
          })
        }
        if (this.inComingLeagues && this.inComingLeagues.length > 1) {
          this.inComingLeagues = this.inComingLeagues.sort((a, b) => {
            return a.start - b.start
          })
        }
        if (this.activeLeagues && this.activeLeagues.length > 1) {
          this.activeLeagues = this.activeLeagues.sort((a, b) => {
            return a.end - b.end
          })
        }
      }
    },
    mounted () {
      this.loading = true
      this.loadLeagues()
    },
    created () {
      this.setTitle('<span class="white--text">Leagues</span>')
    }
  }
</script>

<style scoped>
  .slink {
    text-decoration: none;
    color: #00E676;
    font-weight: 500;
  }
  .highlight > a:hover,
  .highlight > a:focus,
  .highlight > a:active {
    -webkit-box-shadow: inset 0 0 0 2px #00e676 !important;
    -moz-box-shadow: inset 0 0 0 2px #00e676 !important;
    box-shadow: inset 0 0 0 2px #00e676 !important;
  }
</style>

<style lang="stylus" scoped>
.v-progress-linear
  &.smprogress
    margin-top -12px
</style>
