<template lang="pug">
  v-container
    v-layout
      v-flex.xs12
        v-card
          v-card-title
            span.headline Code Fighter
          v-card-text
            div.text
              p.
                Code Fighter is an online coding arena at <a href="http://www.tmasolutions.com/">TMA Solutions</a>.<br>
                The main purpose of Code Fighter is creating an entertaint place where people can play and check their skills at the same time.<br>
                This project was initialy created by <b>Rye</b> team from <b>DC14</b>.<br>
                Source code can be found on: <a href="https://gitlab.com/fighters-solution">Gitlab</a>.
              p.c-green(style="font-style: italic").
                Note: If you found any bugs/errors, have new ideas or want to contribute...<br>
                Please help to send an email to administrators: Vu To (<a href="mailto:tntvu@tma.com.vn">tntvu@tma.com.vn</a>) or Quy Le (<a href="mailto:lnquy@tma.com.vn">lnquy@tma.com.vn</a>).
              
              h3.mt-3.c-green FAQ
              p.q.first Q: How can I start playing on Code Fighter?
              span.a.
                You must login first. Currently, there're two login options. The first one is using your TMA LDAP account and the second one is using local account which can be created by registering.<br>
                Please note that you should only register and use local account if you're not able to login by your TMA LDAP account. And the username of local account must match your TMA LDAP account, otherwise you will failed to register.
              p.q Q: How to solve a challenge?
              span.a.
                You should read the challenge's description carefully then choose the programming language you want to code on.<br>
                In the editor, the template code for the challenge will be loaded automatically and you <b>should not</b> touch those lines. All other places in code editor are free to edit.<br/>
                After finished your solution, you can click on <b>TEST</b> button to run the pre-defined test cases. If the console responses <b>FAILED</b> then you should recheck your solution. Otherwise, you can click on <b>SUBMIT</b> button to submit your solution; the result will also be responsed back to you via console.<br>
                You can see and share your previous submitted solutions by clicking on the top-right-menu and choose <b>Solution history</b>.<br>
                If you successfully solved the challenge then your name will be updated in the challenge's leaderboard (top-right-menu -> <b>Leaderboard</b>).<br>
              p.q Q: How to be named on Leaderboard?
              span.a.
                The leaderboard lists users by their XP points. XP points can be gained by solving problems so you must solved as many challenges as possible to have your name on the <b>Leaderboard</b>.<br>
                Each challenge also has its own leaderboard, that leaderboard sorts user by fastest solution. So you should try to optimize your solution or even solve the challenge in other programming languages to have the best execution time.
              p.q Q: Which programming languages (PL) are supported in Code Fighter?
              span.a.
                Each challenge has its own set of supported PLs.<br>Currently, there are 7 PLs supported: 
                <ol>
                  <li>C 11</li>
                  <li>C++ 14</li>
                  <li>Go 1.8</li>
                  <li>Java 8</li>
                  <li>Javascript 8.1.3/Babel</li>
                  <li>Kotlin 1.1.4</li>
                  <li>Python 3.6</li>
                </ol>
                More supported PLs will come in the future.<br>
                If you want your favourite PL to be available on Code Fight, please send an email to administrators.
              p.q Q: How does Code Fighter rank my level?
              span.a.
                Rank level is dertermined by user's XP points.<br>
                There are 7 main levels:<br>
                <ol>
                  <li>Veteran (XP: 0)</li>
                  <li>Swordsman (XP: 500)</li>
                  <li>Warrior (XP: 1500)</li>
                  <li>Champion (XP: 3000)</li>
                  <li>Hero (XP: 5000)</li>
                  <li>Legend (XP: 7500)</li>
                  <li>God of War (XP: 10500)</li>
                </ol>
                Each main level has 5 sub-levels (e.g.: Veteran I, II, III, IV and V).
              
              h3.mt-4.c-green Contributing
              p.
                We needs your helps to develop new features, fix issues, write challenges, test cases, maintain server...<br>
                If you're willing to help please send an email to administrators.
              
              h3.mt-4.c-green Contributors
              div
                v-tooltip(v-for="(c, i) in contributors" :key="i" top)
                  v-avatar.white.mr-2.mt-2(style="cursor: pointer" size="45px" slot="activator" @click="toProfile(c.uid)")
                    img(:src="c.uid | toAvatarURL" v-if="c.uid")
                    span.red--text.headline(v-else) {{ c.name[0].toUpperCase() }}
                  span {{ c.name }}

              h3.mt-4.c-green License
              p.
                This project is under the <a href="https://opensource.org/licenses/MIT">MIT</a> License.<br>
                Rank level images taken from Valve&reg; DotA 2&copy; under <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a> license.<br>
              
              hr.mt-4
              h3.mt-4.c-green Architecture
              p From high above, the Code Fighter's architecture can be simplified as the diagram below.
              img.center(style="width: 60%" src="https://raw.githubusercontent.com/lnquy/public/master/code_fights/about/cf_arch.jpg")
              ul.mt-3
                li User interacts with Code Fighter via frontend webpage.
                li Webpage interacts with Executioner service (backend) to build up query for runners.
                li Runner executes the user's solution code and response back.
              
              h3.mt-4.c-green Technologies
              h4.mt-2 Frontend:
              ul
                li VueJS.
                li Nuxt (Server Side Rendering).
                li NodeJS.
              h4.mt-2 Backend:
              ul
                li NodeJS.
                li Go.
                li LDAP.
                li MongoDB.
              h4.mt-2 Runners:
              ul
                li Docker.
</template>

<script>
  import {eventBus} from '~/util/util'
  import {mapMutations} from 'vuex'

  export default {
    data () {
      return {
        contributors: [
          {uid: 'tntvu', name: 'Vu To'},
          {uid: 'lnquy', name: 'Quy Le'}
        ]
      }
    },
    methods: {
      ...mapMutations(['setTitle', 'setDrawer']),
      toProfile (uid) {
        this.$router.push(`/users/${uid}`)
      }
    },
    mounted () {
      this.setDrawer(false)
      eventBus.drawerToggled(false)
      this.setTitle('<span class="white--text">About')
    }
  }
</script>

<style scoped>
  .text {
    font-size: 1.1rem;
  }
  .q {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 0 0 0;
    margin-bottom: 0;
  }
  .q.first {
    padding-top: 10px;
  }
  .a {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255,255,255,.71)
  }
  .c-blue {
    color: #2196F3;
  }
  .c-green {
    color: #00E676;
  }
  hr {
    border: 1px solid #212121;
  }
  img.center {
    display: block;
    margin: 0 auto;
  }
  ol > li {
    margin-left: 20px;
  }
</style>
