<template lang="pug">
  v-container(v-if="!rows || rows.length === 0")
    v-layout.mt-5
      v-flex.sm-12.text-sm-center.mt-5
        v-icon.mb-2(large) sentiment_very_dissatisfied
        h2 No leaderboard data

  v-container(fluid grid-list-xl v-else)
    h1.light-headline Legends
    v-divider.mt-2.mb-3
    v-layout.v-align(style="min-height: 200px" justify-space-between)
      v-flex.xs4
        v-hover
          v-card(slot-scope="{ hover }" :class="`elevation-${hover ? 24 : 5}`" class="mx-auto"
          color="deep-purple accent-3" 
          @click.native="openUserProfile(rows[1].uid)" 
          style="cursor: pointer" ripple 
          v-if="rows && rows.length >= 2")
            v-card-title.pt-2.pb-2(style="background-color: #6200EA")
              span #2&nbsp;&nbsp;
              h3 {{ rows[1].uid }}
              v-spacer
              span
                v-tooltip(top light)
                  img.rank-icon.title(src="/ranks/top2.png" slot="activator")
                  span(style="text-align: center;")
                    img.rank-icon.title(src="/ranks/top2.png" style="width: 120px; padding-left: 7px;") 
                    br
                    i "Protector of the Land"&nbsp;
                i.material-icons.icon(style="font-size: 14px; margin-top: -3px;") stars</i>&nbsp;
                span(style="font-size: 1rem") {{ rows[1].cf.xp }}
            v-card-text
              v-layout.ma-0.pa-0.v-align
                v-flex.sm4.pa-0.text-sm-center
                  v-avatar.white.mb-2(size="75")
                    img(:src="rows[1].avatar | toAvatarURL" style="border: 1px solid #F5F5F5;")
                  h4 {{ rows[1].name }}
                v-flex.sm8.pa-0.ma-0.pl-2.text-xs-center
                  div(style="width: 100%; padding-bottom: 10px")
                    img.rank-icon.text(:src="getLevelIcon(rows[1].cf.xp)")
                    br
                    span.rank-text {{ getTextLevel(rows[1].cf.xp) }}
                  div(style="width: 100%" v-if="rows[1].team || (rows[1].groups && rows[1].groups.length)")
                    i.material-icons.icon(style="font-size: 14px") group</i>&nbsp;{{ getTeam(rows[1].team, rows[1].groups) }}
                  div(style="width: 100%" v-if="rows[1].location")
                    i.material-icons.icon(style="font-size: 14px") location_city</i>&nbsp;{{ rows[1].location }}

      v-flex.xs5
        v-hover
          v-card(slot-scope="{ hover }" :class="`elevation-${hover ? 24 : 10}`" class="mx-auto"
            color="red accent-2" 
            @click.native="openUserProfile(rows[0].uid)" 
            style="cursor: pointer" ripple 
            v-if="rows && rows.length >= 1")
            v-card-title.pt-2.pb-2(style="background-color: #E53935")
              span #1&nbsp;&nbsp;
              h2 {{ rows[0].uid }}
              v-spacer
              span
                v-tooltip(top)
                  img.rank-icon.title(src="/ranks/top1.png" slot="activator")
                  span(style="text-align: center")
                    img.rank-icon.title(src="/ranks/top1.png" style="width: 130px; padding: 7px 15px")
                    br
                    i &nbsp;&nbsp;&nbsp;"God of all Gods"
                i.material-icons.icon(style="font-size: 18px; margin-top: -4px;") stars</i>&nbsp;
                span(style="font-size: 1.2rem") {{ rows[0].cf.xp }}
            v-card-text
              v-layout.ma-0.pa-0.v-align
                v-flex.sm4.pa-0.text-sm-center
                  v-avatar.white.mb-2(size="100")
                    img(:src="rows[0].avatar | toAvatarURL" style="border: 1px solid #F5F5F5;")
                  h3 {{ rows[0].name }}
                v-flex.sm8.pa-0.ma-0.pl-2.text-xs-center
                  div(style="width: 100%; padding-bottom: 10px")
                    img.rank-icon.text.main(:src="getLevelIcon(rows[0].cf.xp)")
                    br
                    span.rank-text {{ getTextLevel(rows[0].cf.xp) }}
                  div(style="width: 100%")
                    i.material-icons.icon(style="font-size: 14px;" v-if="rows[0].team || (rows[0].groups && rows[0].groups.length)") group</i>&nbsp;{{ getTeam(rows[0].team, rows[0].groups) }}
                  div(style="width: 100%")
                    i.material-icons.icon(style="font-size: 14px;" v-if="rows[0].location") location_city</i>&nbsp;{{ rows[0].location }}

      v-flex.xs4
        v-hover
          v-card(slot-scope="{ hover }" :class="`elevation-${hover ? 24 : 5}`" class="mx-auto"
            color="amber lighten-1" 
            @click.native="openUserProfile(rows[2].uid)" 
            style="cursor: pointer" ripple 
            v-if="rows && rows.length >= 3")
            v-card-title.pt-2.pb-2(style="background-color: #FFA000")
              span #3&nbsp;&nbsp;
              h3 {{ rows[2].uid }}
              v-spacer
              span
                v-tooltip(top)
                  img.rank-icon.title(src="/ranks/top3.png" slot="activator")
                  span(style="text-align: center")
                    img.rank-icon.title(src="/ranks/top3.png" style="width: 120px; padding-left: 20px;")
                    br
                    i "Man of the Great House"&nbsp;
                i.material-icons.icon(style="font-size: 14px; margin-top: -3px;") stars</i>&nbsp;
                span(style="font-size: 1rem") {{ rows[2].cf.xp }}
            v-card-text
              v-layout.ma-0.pa-0.v-align
                v-flex.sm4.pa-0.text-sm-center
                  v-avatar.white.mb-2(size="75")
                    img(:src="rows[2].avatar | toAvatarURL" style="border: 1px solid #F5F5F5;")
                  h4 {{ rows[2].name }}
                v-flex.sm8.pa-0.ma-0.pl-2.text-xs-center
                  div(style="width: 100%; padding-bottom: 10px")
                    img.rank-icon.text(:src="getLevelIcon(rows[2].cf.xp)")
                    br
                    span.rank-text {{ getTextLevel(rows[2].cf.xp) }}
                  div(style="width: 100%")
                    i.material-icons.icon(style="font-size: 14px;" v-if="rows[2].team || (rows[2].groups && rows[2].groups.length)") group</i>&nbsp;{{ getTeam(rows[2].team, rows[2].groups) }}
                  div(style="width: 100%")
                    i.material-icons.icon(style="font-size: 14px;" v-if="rows[2].location") location_city</i>&nbsp;{{ rows[2].location }}
    
    v-layout.mb-0.pb-0.mt-5
      v-flex.mt-0.mb-0.pt-3.pb-0
        h1.light-headline Leaderboard 
      v-spacer
      v-flex.mt-0.mb-0.pt-0.pb-0.text-xs-right
        v-text-field(append-icon="search" label="Search" single-line hide-details
          v-model="ldbSearch" style="display: inline-block; max-width: 250px")
    v-divider.mt-2.mb-3
    v-layout
      v-flex.sm12
        v-data-table(v-bind:headers="headers"
          :items="rows"
          item-key="uid"
          v-bind:pagination.sync="pagination"
          v-bind:search="ldbSearch"
          :rows-per-page-items="rowsPerPageItems"
          class="elevation-10"
          lazy)
          template(slot="items" slot-scope="props")
            tr(@click.stop="openUserProfile(props.item.uid)" style="cursor: pointer")
              td {{ props.index + 1 }}
              td.text-xs-left
                v-avatar(color="white" size="32")
                  img(:src="props.item.uid | toAvatarURL")
              td.text-xs-left {{ props.item.uid }}
              td.text-xs-left {{ props.item.name }}</td>
              td.text-xs-right 
                img.rank-icon.row(:src="getLevelIcon(props.item.cf.xp)")
              td.text-xs-left(style="min-width: 150px") {{ getTextLevel(props.item.cf.xp) }}
              td.text-xs-left {{ getTeam(props.item.team, props.item.groups) }}
              td.text-xs-left.text-ellipsis {{ props.item.location }}
              td.text-xs-left {{ props.item.cf.solved }}
              td.text-xs-left {{ props.item.cf.xp }}
</template>

<script>
  import {eventBus, httpCfg, level} from '~/util/util'
  import {mapMutations} from 'vuex'

  export default {
    data () {
      return {
        headers: [
          { text: '#', align: 'left', sortable: false, value: 'order' },
          { align: 'right', sortable: false, value: 'avatar' },
          { text: 'ID', align: 'left', sortable: true, value: 'uid' },
          { text: 'Name', align: 'left', sortable: true, value: 'name' },
          { align: 'right', sortable: false, value: 'lvimg' },
          { text: 'Level', align: 'left', sortable: true, value: 'cf.xp' },
          { text: 'Team', align: 'left', sortable: false, value: 'team' },
          { text: 'Location', align: 'left', sortable: true, value: 'location' },
          { text: 'Solved', align: 'left', sortable: true, value: 'cf.solved' },
          { text: 'XP', align: 'left', sortable: true, value: 'cf.xp' }
        ],
        pagination: {
          sortBy: 'cf.xp',
          descending: true
        },
        ldbSearch: '',
        rowsPerPageItems: [20, 50, 100, { text: 'All', value: -1 }],
        rows: []
      }
    },
    methods: {
      ...mapMutations(['setTitle', 'setDrawer']),
      loadLeaderboard () {
        this.$axios.get('/v1/leaderboard', httpCfg)
          .then((result) => {
            result.data.sort((a, b) => {
              if (a.cf.xp == b.cf.xp) {
                if (a.cf.solved == b.cf.solved) {
                  return a.cf.updatedAt - b.cf.updatedAt // Who reach this XP first on top
                }
                return a.cf.solved - b.cf.solved // Who solved less challenges (but got equal XP) on top
              }
              return b.cf.xp - a.cf.xp // Who has more XP on top
            })

            this.rows = result.data
          })
          .catch(err => {
            console.log('ldb err', err)
            this.rows = []
            eventBus.snackbarShown({type: 'error', msg: 'Failed to load leaderboard: ' + err.message})
          })
      },
      openUserProfile (uid) {
        window.open(`/users/${uid}`, '_blank')
      },
      getTextLevel (xp) {
        return level.getTextLevel(xp)
      },
      getTeam (team, groups) {
        if (team) {
          return team
        }
        if (!groups || groups.length === 0) {
          return ''
        }
        let cns = groups[0].split(',')
        return cns[0].trim().substring(cns[0].indexOf('=') + 1)
      },
      getLevelIcon (xp) {
        return level.getLevelIcon(xp)
      }
    },
    created () {
      this.setTitle('<span class="white--text">Leaderboard</span>')
    },
    mounted () {
      this.setDrawer(false)
      eventBus.drawerToggled(false)
      this.loadLeaderboard()
    }
  }
</script>

<style scoped>
  .v-align {
    display: flex;
    align-items: center;
  }

  .text-ellipsis {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .rank-icon {
    padding-top: 5px;
    margin-bottom: -10px;
  }

  .rank-icon.title {
    width: 40px;
    padding-top: 0;
    margin-bottom: -8px;
    padding-right: 10px;
  }

  .rank-icon.text {
    width: 75px;
    padding: 0;
    margin-bottom: -20px;
  }
  .rank-icon.text.main {
    width: 100px;
  }

  .rank-icon.row {
    width: 45px;
  }

  .rank-text {
    font-size: 12px;
    color: rgba(255,255,255,.81)
  }
</style>
