<template lang="pug">
  v-container(fluid grid-list-md pa-3)
    h2.mt-2(style="font-weight: 500") Hello, warrior!
    h3.pb-3(style="font-weight: 300") You can start fighting the challenge monsters by going to <router-link class="slink" to="/arena/programming">Arena</router-link>. <br>Or fight for fame in contest with other warriors by joining leagues below.
    //- h3.text-xs-center(style="color: red") IMPORTANT: This server is in alpha test run so all data will be reset on <b>14th Jan 2018</b>.<br>Please remember to backup your solved solutions before that time!
    template(v-if="this.activeLeagues && this.activeLeagues.length")
      h1.light-headline(slot="activator") Active Leagues
      v-divider(class="mb-3 mt-2")
      v-layout.mb-4(row wrap justify-center)
        v-flex(d-flex highlight v-for="l in activeLeagues" :key='l._id')
          v-card(dark ripple slot="header" @click.native.stop="gotoLeague(l._id)" style="cursor: pointer")
            v-img.white--text(height='450px', :src='l.banner')
              v-container(fill-height fluid)
                v-layout(fill-height)
                  v-flex(xs12 align-end flexbox)
                    span.display-3.unselectable(style="text-shadow: 3px 3px #000000") {{l.title}}
            v-card-actions
              countdown.h1(:time='timeCalculate(l.end)')
                template(slot-scope='props') Ending in {{ props.days }} days, {{ props.hours }} hours, {{ props.minutes }} minutes, {{ props.seconds }} seconds.
              v-spacer
              v-btn(color="info" @click.stop="showTempMessage") join
    template(v-if="this.inComingLeagues && this.inComingLeagues.length")
      h1.light-headline In-coming Leagues
      v-divider(class="mb-3 mt-2")
      v-layout(row wrap justify-center)
        v-flex(d-flex highlight v-for="l in inComingLeagues" :key='l._id')
          v-card(dark ripple slot="header" @click.native.stop="gotoLeague(l._id)" style="cursor: pointer")
            v-card-media.white--text(height='450px', :src='l.banner')
              v-container(fill-height fluid)
                v-layout(fill-height)
                  v-flex(xs12 align-end flexbox)
                    span.display-3.unselectable(style="text-shadow: 3px 3px #000000") {{l.title}}
            v-card-actions.mt-2.mb-2
              countdown.h1(:time='timeCalculate(l.start)')
                template(slot-scope='props') Starting in {{ props.days }} days, {{ props.hours }} hours, {{ props.minutes }} minutes, {{ props.seconds }} seconds.
    template(v-if="(!this.activeLeagues || !this.activeLeagues.length) && (!this.inComingLeagues || !this.inComingLeagues.length)")
      h4 No active league :(
      // div(id="bm" style="width: 100px")
</template>

<script>
  import {mapMutations} from 'vuex'
  import {eventBus, httpCfg} from '~/util/util'
  import Countdown from '@xkeshi/vue-countdown'
  import moment from 'moment'
  // import bodymovin from 'bodymovin'

  // let exeAddr = process.env.EXECUTIONER_ADDRESS

  export default {
    components: { Countdown },
    data () {
      return {
        allLeagues: [],
        activeLeagues: [],
        inComingLeagues: []
      }
    },
    watch: {
      allLeagues (val) {
        this.activeLeagues = []
        this.inComingLeagues = []
        let ts = +new Date()
        for (let l of this.allLeagues) {
          if (l.start > ts) { // League is not started yet
            this.inComingLeagues.push(l)
            continue
          }
          this.activeLeagues.push(l) // Current active league
        }
      }
    },
    methods: {
      ...mapMutations(['setTitle']),
      loadLeagues () {
        this.$axios.get('v1/leagues?s=future', httpCfg) // Only load current running and in-coming leagues
          .then((res) => {
            this.allLeagues = res.data
          })
          .catch((err) => {
            this.allLeagues = []
            console.error(err)
            eventBus.snackbarShown({type: 'error', msg: `Failed to load leagues: ${err.message}`})
          })
      },
      timeCalculate (start) {
        if (moment(start).isAfter(moment())) {
          return moment(start).toDate() - moment().toDate()
        }
        return 0
      },
      gotoLeague (id) {
        this.$router.push(`/leagues/${id}`)
      }
    },
    mounted () {
      this.loadLeagues()
      // var animation = bodymovin.loadAnimation({
      //   container: document.getElementById('bm'), // Required
      //   path: 'animations/whale.json', // Required
      //   renderer: 'svg', // Required
      //   loop: true, // Optional
      //   autoplay: true, // Optional
      //   name: "Hello World", // Name for future reference. Optional.
      // })
    },
    created () {
      this.setTitle('<span class="white--text">Welcome</span>')
    }
  }
</script>

<style scoped>
  .slink {
    text-decoration: none;
    /* color: #00E676; */
    font-weight: 400;
  }
</style>
