<template lang="pug">
  v-container(fluid grid-list-md text-xs-left)
    v-layout
      v-btn(fab dark color="primary" top right fixed @click="shownCourseForm" v-show="isAuth" style="top: 70px")
        v-icon(dark) add
      v-flex.text-xs-left(d-flex xs12 sm6 md4 lg3 v-for="item in items" :key='item.name')
        v-card(dark ripple height="100%")
          v-img(v-bind:src="item.image" height="200px")
          v-card-text.mb-4.px-1(height="200px")
                v-flex(xs12 flexbox)
                  h3.white--text.headline(style="text-shadow: 2px 2px #000;") {{ item.name }}
                  h4.white--text.subheading(style="text-shadow: 2px 2px #000;") {{ item.author }}
          v-card-actions(style='position: absolute; bottom: 0; width: 100%; padding: 10px')
            v-spacer
            v-icon(small color="dark") face </v-icon> {{ item.vote }}
            v-btn(color="blue darken-1" style="float:right;" flat v-bind:href="'/training/'+ item.name")
              h4 Detail
            v-btn(color="white darken-1" style="float:right;" flat @click="vote(item.name)" :disabled="!isAuth")
              h4 Vote
    course-modal
</template>

<script>
import axios from 'axios'
import {eventBus, httpCfg} from '~/util/util'
import {mapGetters} from 'vuex'
import CourseModal from '~/components/modals/CourseModal.vue'

let goAddr = process.env.TRAINING_SERVER_ADDRESS

export default {
  components: {
    CourseModal
  },
  data () {
    return {
      items: [],
      dialog: false,
      valid: true
    }
  },
  computed: {
    ...mapGetters(['authUser']),
    isAuth () {
      return this.authUser && this.authUser.uid
    }
  },
  mounted () {
    this.$axios.$get(`${goAddr}/courses`, httpCfg)
      .then((res) => {
        if (res) {
          this.items = res
        }
      })
      .catch((err) => {
        eventBus.snackbarShown({type: 'error', msg: `Failed to get data: ${err}`})
      })
  },
  methods: {
    shownCourseForm () {
      eventBus.courseModalShown(this.items)
    },
    clearForms () {
      this.name = ''
      this.author = ''
      this.imageUrl = ''
      this.description = ''
    },
    vote (name) {
      for (let i = 0; i < this.items.length; i++) {
        if (this.items[i].name === name) {
          console.log('Participant length: ', this.items[i].participants.length)
          for (var j = 0; j < this.items[i].participants.length; j++) {
            if (this.authUser.uid + '@tma.com.vn' === this.items[i].participants[j].email) {
              eventBus.snackbarShown({type: 'error', msg: 'You have already voted'})
              return
            }
          }
        }
      }
      axios.post(`${goAddr}/courses/vote`, {
        Name: name,
        Participants: [
          {
            name: this.authUser.name,
            email: this.authUser.uid + '@tma.com.vn'
          }
        ]
      }, httpCfg)
        .then((res) => {
          eventBus.snackbarShown({type: 'success', msg: `Vote successfully`})
          for (let i = 0; i < this.items.length; i++) {
            if (this.items[i].name === res.data.name) {
              var newParticipant = {
                name: this.authUser.name,
                email: this.authUser.uid + '@tma.com.vn'
              }
              this.items[i].participants.push(newParticipant)
              this.items[i].vote += 1
            }
          }
        })
        .catch((err) => {
          console.error('Error vote', err)
          eventBus.snackbarShown({type: 'error', msg: `Failed to vote: ${err}`})
        })
    }
  },
  created () {
    eventBus.$on('showCourseModal', (item) => {
      this.items = item
    })
  }
}
</script>

<style scoped>
</style>
