<template lang="pug">
  v-dialog(v-model="dialog" max-width="910px" lazy)
    v-flex.sm12
      v-card
        v-card-title(primary-title)
          h3.headline.mb-0 Leaderboard
        v-card-text.pt-0.pr-0.pl-0
          v-data-table(v-bind:headers="headers"
            :items="rows"
            item-key="uid"
            v-bind:pagination.sync="pagination"
            :rows-per-page-items="rowsPerPageItems"
            class="elevation-1"
            lazy)
            template(slot="items" slot-scope="props")
              tr(@click.stop="openUserProfile(props.item.uid)" style="cursor: pointer")
                td {{ props.index + 1 }}
                td.text-xs-left
                  v-avatar(color="white" size="32")
                    img(:src="props.item.uid | toAvatarURL")
                td.text-xs-left {{ props.item.uid }}
                td.text-xs-center {{ props.item.language}}
                td.text-xs-center {{ props.item.fastestRun * 1000 | toFixed4FPs }}
                td.text-xs-right {{ props.item.solvedAt | unixTsToRelativeTime }}
        v-card-actions
          v-spacer
          v-btn(flat color="info" @click="dialog = false") OK
</template>

<script>
  import {eventBus, httpCfg} from '~/util/util'

  export default {
    name: 'challenge-leaderboard-modal',
    data () {
      return {
        dialog: false,
        headers: [
          { text: '#', align: 'left', sortable: false, value: '' },
          { text: '', align: 'left', sortable: false, value: '' },
          { text: 'ID', align: 'left', sortable: true, value: 'uid' },
          { text: 'Language', align: 'center', sortable: true, value: 'language' },
          { text: 'Execution time (ms)', align: 'center', sortable: true, value: 'fastestRun' },
          { text: 'Solved At', align: 'center', sortable: true, value: 'solvedAt' }
        ],
        rows: [],
        pagination: {
          sortBy: 'fastestRun'
        },
        rowsPerPageItems: [20, 50, 100, { text: 'All', value: -1 }]
      }
    },
    methods: {
      loadChallengeLeaderboard () {
        this.$axios.get(`/v1/leaderboard/c/${this.$route.params.id}`, httpCfg)
          .then((result) => {
            this.rows = result.data
          })
          .catch((err) => {
            console.log(err)
            eventBus.snackbarShown({type: 'error', msg: `Failed to get leaderboard: ${err}`})
          })
      },
      openUserProfile (uid) {
        window.open(`/users/${uid}`, '_blank')
      }
    },
    created () {
      eventBus.$on('showChallengeLeaderboardModal', () => {
        this.dialog = true
        this.loadChallengeLeaderboard()
      })
    }
  }
</script>
