<template lang="pug">
  v-dialog(v-model="dialog" max-width="900px" lazy)
    v-flex.sm12
      v-card
        v-card-title(primary-title)
          h3.headline.mb-0 Submitted versions
        v-card-text.pt-0.pl-0.pr-0
          v-data-table(v-bind:headers="headers"
            :items="versions"
            item-key="submittedAt"
            v-bind:pagination.sync="pagination"
            :rows-per-page-items="rowsPerPageItems"
            class="elevation-1"
            lazy)
            template(slot="items" slot-scope="props")
              tr(@click="props.expanded = !props.expanded")
                td {{ props.index + 1 }}
                td.text-xs-left {{ props.item.language }}
                td.text-xs-center {{ props.item.execTime * 1000 | toFixed4FPs }}
                td.text-xs-center
                  v-icon(color="green accent-4" v-if="props.item.isSolved") check
                  v-icon(color="red accent-3" v-else) clear
                td.text-xs-right {{ props.item.submittedAt | unixTsToRelativeTime }}
                td.text-xs-center
                  v-btn(flat fab color="white" small @click.stop="copyShareURL(props.item.submittedAt)")
                    v-icon(small) share
            template(slot="expand" slot-scope="props")
              v-card(flat)
                v-card-text
                  div.code-highlighter(style="background-color: #00C853" v-if="props.item.isSolved")
                  div.code-highlighter(style="background-color: #D50000" v-else)
                  pre.pl-2 {{ props.item.code }}
                  v-tooltip(top style="position: absolute; right: 10px; bottom: 5px")
                    v-btn(flat fab color="success" small slot="activator" @click.stop="openCodeInEditor(props.item)")
                      v-icon(small) border_color
                    span Open in editor
        v-card-actions
          v-spacer
          v-btn(flat color="info" @click="dialog = false") OK
</template>

<script>
  import {eventBus, httpCfg} from '~/util/util'
  import {mapGetters} from 'vuex'

  export default {
    name: 'challenge-versions-modal',
    data () {
      return {
        dialog: false,
        versions: [],
        headers: [
          { text: '#', align: 'left', sortable: false, value: 'version' },
          { text: 'Language', align: 'left', sortable: true, value: 'language' },
          { text: 'Execution time (ms)', align: 'center', sortable: true, value: 'execTime' },
          { text: 'Solved', align: 'center', sortable: false, value: 'solved' },
          { text: 'Submitted At', align: 'right', sortable: true, value: 'submittedAt' },
          { text: 'Share', align: 'center', sortable: false, value: 'share' }
        ],
        pagination: {
          sortBy: 'submittedAt',
          descending: true
        },
        rowsPerPageItems: [20, 50, 100, { text: 'All', value: -1 }]
      }
    },
    computed: {
      ...mapGetters(['authUser']),
      isAuth () {
        return this.authUser && this.authUser.uid
      }
    },
    methods: {
      loadSolvedChallenge () {
        if (!this.$route.params.id || !this.isAuth) {
          return
        }
        this.$axios.get(`/v1/usc/u/${this.authUser.uid}/c/${this.$route.params.id}`, httpCfg)
          .then((res) => {
            this.versions = ((res.data || {}).versions || []).sort((a, b) => {
              return a.submittedAt < b.submittedAt
            })
          }).catch((err) => {
            this.versions = []
            console.log(err)
            eventBus.snackbarShown({type: 'error', msg: `Failed to load submitted versions: ${err}`})
          })
      },
      openCodeInEditor (val) {
        eventBus.versionCodeChanged(val)
        this.dialog = false
      },
      copyShareURL (ts) {
        window.prompt('URL to your solution: ',
          `${location.protocol}//${location.host}/arena/programming/${this.$route.params.id}?u=${this.authUser.uid}&s=${ts}`)
      }
    },
    created () {
      eventBus.$on('showChallengeVersionsModal', () => {
        this.dialog = true
        this.loadSolvedChallenge()
      })
    }
  }
</script>

<style>
  .code-highlighter {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
  }

  pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }
</style>

