<template lang="pug">
  v-dialog(v-model="dialog"
    transition="dialog-bottom-transition"
    :overlay="false"
    persistent
    lazy)
    v-layout
      v-flex.xs12
        v-card(tile)
          //- v-toolbar(card dense dark color="blue darken-1")
          //-   v-btn(icon @click.native="dialog = !dialog" dark)
          //-     v-icon close
          //-   v-toolbar-title 
          //-     span.headline {{(cid?'Edit':'Create new') + ' challenge '}}
          v-card-title
            span.headline {{(cid?'Edit':'Create new') + ' challenge '}}
            v-spacer
            v-btn.mr-0.pr-0(small icon flat fab right @click='dialog = !dialog')
              v-icon(medium) close
          v-card-text.pt-0
            edit-challenge(:cid="cid" :isDialog="dialog")
</template>

<script>
import {eventBus} from '~/util/util'
import EditChallenge from '~/components/challenge/EditChallenge.vue'

export default {
  components: {
    EditChallenge
  },
  data () {
    return {
      dialog: false,
      cid: ''
    }
  },
  mounted () {
    eventBus.$on('toggleEditChallengeModal', (cid) => {
      this.cid = cid
      this.dialog = !this.dialog
    })
  }
}
</script>
