<template lang="pug">
  v-layout(row justify-center)
    v-dialog(v-model="dialog" persistent max-width="500px" lazy)
      div
            v-form(ref="form" lazy-validation)
              v-card
                v-card-title.pt-4
                  h3(style="font-weight: 300") Create new course
                v-card-text.pt-0.pb-0
                  v-container(grid-list-md)
                    v-layout(wrap)
                      v-flex(xs12)
                        v-text-field(:rules="nameRules"
                          v-model="name"
                          label="Course name"
                          required)
                      v-flex(xs12)
                        v-text-field(:rules="authorRules"
                          v-model="author"
                          label="Author"
                          required)
                      v-flex(xs12)
                        v-text-field(:rules="imageUrlRules"
                            v-model="imageUrl"
                            label="Image URL"
                        )
                      v-flex(xs12)
                        v-text-field(:rules="descriptionRules"
                            v-model="description"
                            textarea
                            label="Description"
                        )
                v-card-actions
                  v-spacer
                  v-btn(flat secondary @click.native="dialog = false") Close
                  v-btn(color="blue darken-1" flat @click.native="submit") Create
</template>

<script>
import {eventBus, httpCfg} from '~/util/util'
import axios from 'axios'
let goAddr = process.env.TRAINING_SERVER_ADDRESS

export default {
  name: 'course-modal',
  data () {
    return {
      dialog: false,
      items: [],
      name: '',
      nameRules: [v => !!v || 'Name is required'],
      author: '',
      authorRules: [v => !!v || 'Author is required'],
      description: '',
      descriptionRules: [v => !!v || 'Description is required',
        (v) => !(v.length > 700) || 'Description length must be <= 500 characters'],
      imageUrlRules: [
        (v) => !!v || 'Image URL is required'
      ],
      imageUrl: ''
    }
  },
  watch: {
    dialog (val) {
      if (!val) {
        this.clearForms()
      }
    }
  },
  methods: {
    submit () {
      if (this.$refs.form.validate()) {
        axios
          .post(
            `${goAddr}/courses/`,
            {
              Name: this.name,
              Author: this.author,
              Image: this.imageUrl,
              Vote: 1,
              Description: this.description
            },
            httpCfg
          )
          .then(res => {
            this.dialog = false
            this.clearForms()
            eventBus.snackbarShown({
              type: 'success',
              msg: 'Add new course successfully'
            })
            this.items.push(res.data)
            this.$emit('pass-course-back-to-parent', this.items)
          })
      }
    },
    fetchData () {
      this.$axios
        .$get(`${goAddr}/courses`, httpCfg)
        .then(res => {
          if (res) {
            this.items = res
          }
        })
        .catch(err => {
          console.error('Error getting data', err)
          eventBus.snackbarShown({
            type: 'error',
            msg: `Failed to get data: ${err}`
          })
        })
    },
    clearForms () {
      this.name = ''
      this.author = ''
      this.imageUrl = ''
      this.description = ''
    },
    vote (name) {
      axios
        .post(
          `${goAddr}/courses/vote`,
          {
            Name: name,
            Participant: [
              {
                name: this.authUser.name,
                email: this.authUser.uid + '@tma.com.vn'
              }
            ]
          },
          httpCfg
        )
        .then(res => {
          eventBus.snackbarShown({ type: 'success', msg: 'Vote successfully' })
          this.fetchData()
        })
        .catch(err => {
          console.error('Error vote', err)
          eventBus.snackbarShown({
            type: 'error',
            msg: `Failed to vote: ${err}`
          })
        })
    }
  },
  created () {
    eventBus.$on('showCourseModal', (items) => {
      this.dialog = true
      this.items = items
    })
  }
}
</script>