<template lang="pug">
  v-layout(row justify-center)
    v-dialog(v-model="dialog" persistent max-width="500px" lazy)
      div
        v-tabs(v-model="tabActive" fixed-tabs slider-color="green accent-3")
          v-tab(v-for="(t, i) in tabs" :key="i") {{ t.text }}

          // Login by local account
          v-tab-item
            v-form(v-model="localValid" ref="localForm" lazy-validation)
              v-card
                v-card-text.pt-0.pb-0
                  v-container(grid-list-md)
                    v-layout(wrap)
                      v-flex(xs12).pb-0
                        v-text-field(:rules="accountLoginRules"
                          v-model="loginLocalForm.account"
                          label="Username / Email"
                          hint="Your username or email address"
                          @keyup.enter="login('local')"
                          required
                          solo-inverted
                          prepend-inner-icon="account_circle")
                      v-flex(xs12).pt-0.pb-0
                        v-text-field(:rules="passwordRules"
                          v-model="loginLocalForm.password"
                          label="Password"
                          type="password"
                          @keyup.enter="login('local')"
                          required
                          solo-inverted
                          prepend-inner-icon="fingerprint"
                          :append-icon="showLoginPwd ? 'visibility' : 'visibility_off'"
                          :type="showLoginPwd ? 'text' : 'password'"
                          @click:append="showLoginPwd = !showLoginPwd")
                      v-flex.pt-0(xs-12 text-xs-right)
                        a(href="TODO") Forgot password
                      v-flex(xs-12).mt-3
                        p.mb-1 or continue using
                        v-container.pa-0(grid-list-md text-xs-center)
                          v-layout(row wrap)
                            v-btn(depressed).ml-0 
                              v-icon(small) fab fa-github
                              | &nbsp;&nbsp;Github
                            v-btn(depressed).ml-0 
                              v-icon(small) fab fa-google
                              | &nbsp;&nbsp;Google
                            v-btn(depressed).ml-0 
                              v-icon(small) fab fa-facebook
                              | &nbsp;&nbsp;Facebook
                v-card-actions.mr-4.pr-3.pb-4
                  v-spacer
                  v-btn(flat secondary @click.native="dialog = false") Cancel
                  v-btn(color="blue darken-1" @click.native="login(false)" :disabled="!localValid" :loading="isLoginLoading") Login
          
          // Register account
          v-tab-item
            v-form(v-model="regValid" ref="regForm" lazy-validation)
              v-card
                v-card-text.pt-0.pb-0
                  v-container(grid-list-md)
                    v-layout(wrap)
                      v-flex.pb-0(xs12)
                        v-text-field(:rules="accountRegRules"
                          v-model="registerForm.account"
                          label="Username"
                          @keyup.enter="register('local')"
                          required
                          solo-inverted
                          prepend-inner-icon="account_circle"
                          browser-autocomplete="false")
                      v-flex.pt-0.pb-0(xs12)
                        v-text-field(:rules="emailRules"
                          v-model="registerForm.email"
                          label="Email"
                          hint="A confirmation email will be sent to you later"
                          @keyup.enter="register('local')"
                          required
                          solo-inverted
                          prepend-inner-icon="alternate_email")
                      v-flex.pt-0(xs6)
                        v-text-field(:rules="passwordRules"
                          v-model="registerForm.password"
                          label="Password"
                          type="password"
                          @keyup.enter="register()"
                          required
                          solo-inverted
                          prepend-inner-icon="fingerprint"
                          :append-icon="showRegPwd ? 'visibility' : 'visibility_off'"
                          :type="showRegPwd ? 'text' : 'password'"
                          @click:append="showRegPwd = !showRegPwd")
                      v-flex.pt-0(xs6)
                        v-text-field(:rules="rePasswordRules"
                          v-model="registerForm.rePassword"
                          label="Re-type password"
                          type="password"
                          @keyup.enter="register()"
                          required
                          solo-inverted)
                v-card-actions.mr-4.pr-3.pb-4
                  v-spacer
                  v-btn(flat secondary @click.native="dialog = false") Cancel
                  v-btn(color="blue darken-1" @click.native="register" :disabled="!regValid" :loading="isRegLoading") Register
</template>

<script>
  import {eventBus} from '~/util/util'
  import {mapMutations} from 'vuex'

  const allowedCharsRegex = /^[a-zA-z0-9]+$/

  export default {
    name: 'login-modal',
    data () {
      return {
        dialog: false,
        localValid: false,
        regValid: false,
        showLoginPwd: false,
        showRegPwd: false,
        isRegLoading: false,
        isLoginLoading: false,
        accountRegRules: [
          (v) => !!v || 'Username is required',
          (v) => !(v.length < 4 || v.length > 32) || 'Username length must >= 4 and <= 32 chars',
          (v) => allowedCharsRegex.test(v) || 'Username can contain only alphabets [A-Za-z] and numbers [0-9]',
        ],
        accountLoginRules: [
          (v) => !!v || 'Username/Email is required',
          (v) => (allowedCharsRegex.test(v) || this.isValidEmail(v)) || 'Username contains invalid character(s) or not a valid email address',
        ],
        emailRules: [
          (v) => !!v || 'Email is required',
          (v) => this.isValidEmail(v) || "Email is invalid",
          (v) => !(v.length > 254) || 'Email length must less than 254 chars'
        ],
        passwordRules: [
          (v) => !!v || 'Password is required',
          (v) => !(v.length < 6 || v.length > 32) || 'Password length must >= 6 and <= 32 chars'
        ],
        rePasswordRules: [
          (v) => !!v || 'Password is required',
          (v) => !(v.length < 6 || v.length > 32) || 'Password length must >= 6 and <= 32 chars',
          (v) => !(v !== this.registerForm.password) || 'Re-type password not match'
        ],
        loginLocalForm: {
          account: '',
          password: ''
        },
        registerForm: {
          account: '',
          email: '',
          password: '',
          rePassword: ''
        },
        tabActive: 0,
        tabs: [
          {name: 0, text: 'Login'},
          {name: 1, text: 'Register'}
        ]
      }
    },
    watch: {
      dialog (val) {
        if (!val) {
          this.clearForms() // Clear old data before closing dialog
        }
      }
    },
    methods: {
      ...mapMutations(['setAuthUser', 'setSettings', 'setAvatar']),
      async login (loginType) {
        if (!this.$refs.localForm.validate()) {
          return
        }
        let data
        data = this.loginLocalForm
        data.type = 'local'

        try {
          this.isLoginLoading = true
          let res = await this.$axios.post(`/login`, data, {
            headers: {'Content-Type': 'application/json'},
            withCredentials: true
            }
          )
          this.isLoginLoading = false
          // console.log('auth', res.data)
          this.setAuthUser({
            uid: res.data.uid,
            role: res.data.role,
            name: res.data.name
          })
          this.setSettings(res.data.settings)
          this.setAvatar(res.data.avatar)
          this.dialog = false
          eventBus.snackbarShown({type: 'success', msg: 'Login successfully'})
          eventBus.userLoggedIn() // Notify other components to update if necessary
        } catch (err) {
          this.isLoginLoading = false
          console.log(err)
          if (err.response && err.response.status === 401) {
            eventBus.snackbarShown({type: 'error', msg: 'Bad credentials'})
            return
          }
          eventBus.snackbarShown({type: 'error', msg: 'Login failed. ' + err.message})
        }
      },
      register (regType) {
        if (regType == 'oauth') {
          // TODO: Do OAuth registering
        }

        // Local registreation with username/email/password
        if (!this.$refs.regForm.validate()) {
          return
        }
        this.isRegLoading = true
        let regData = this.cloneObject(this.registerForm)
        regData.regType = 'local'
        this.$axios.post(`v1/register?type=${regData.regType}`, regData, {headers: {'Content-Type': 'application/json'}})
          .then(res => {
            // console.log('REG', res.data)
            this.isRegLoading = false
            eventBus.snackbarShown({type: 'success', msg: 'Account created. Please login!'})
            this.tabActive = 0
          })
          .catch(err => {
            this.isRegLoading = false
            let eb = ''
            console.log(err)
            if (err.response) {
              eb = err.response.data
            }
            eventBus.snackbarShown({type: 'error', msg: 'Register failed. ' + eb}) // TODO
          })
      },
      clearForms () {
        this.loginLocalForm = {
          account: '',
          password: ''
        }
        this.registerForm = {
          account: '',
          email: '',
          password: '',
          rePassword: ''
        }
      },
      clearError () {
        console.log(this)
      }
    },
    created () {
      eventBus.$on('showLoginModal', () => {
        this.dialog = true
      })
    }
  }
</script>

<style scoped>
  .reg-note > p {
    font-size: 0.8rem;
    font-style: italic;
  }
</style>
