<template lang="pug">
  v-layout(row justify-center)
    v-dialog(v-model="dialog" persistent max-width="500px" lazy)
      v-card
        v-card-title.headline Logout
        v-card-text Do you want to logout?
        v-card-actions
          v-spacer
          v-btn(color="green darken-1" flat="flat" @click.native="dialog = false") Cancel
          v-btn(color="green darken-1" flat="flat" @click.native="logout") Yes, I'm out
</template>

<script>
  import {eventBus} from '~/util/util'
  import {mapMutations} from 'vuex'

  export default {
    name: 'logout-modal',
    data () {
      return {
        dialog: false,
        cookies: ['cf_be_session', 'cf_fe_session', 'cf_settings', 'cf_states', 'cf_confirm']
      }
    },
    methods: {
      ...mapMutations(['setAuthUser', 'setSettingsToDefault', 'setAvatar']),
      async logout () {
        try {
          await this.$axios.post('/logout')
          this.setAuthUser(null)
          this.setSettingsToDefault()
          this.setAvatar('')
          this.dialog = false
          // Delete all cookies
          for (let cookie of this.cookies) {
            this.deleteCookie(cookie)
            this.deleteCookie(cookie, '.' + window.location.host)
          }  
        
          eventBus.snackbarShown({type: 'success', msg: 'Bye mate!'})
          eventBus.userLoggedOut()
        } catch (err) {
          console.log(err)
          eventBus.snackbarShown({type: 'error', msg: 'Logout failed: ' + err.message})
          this.dialog = false
        }
      }
    },
    created () {
      eventBus.$on('showLogoutModal', () => {
        this.dialog = true
      })
    }
  }
</script>
