<template lang="pug">
  v-layout(row justify-center)
    v-dialog(v-model="dialog" scrollable max-width="800px" lazy)
      v-card
        v-card-title.headline Notifications
        v-container(fluid grid-list-md pa-3)
          v-alert.ma-3(v-for="(item, idx) in notifications" :key="idx" 
            outline :value="true" :type="item.level")
            p.mb-0(v-html="item.msg")
        v-card-actions
          v-spacer
          v-btn(color="green darken-1" flat="flat" @click.native="dialog = false") Cancel
</template>

<script>
  import {eventBus} from '~/util/util'
  import {mapGetters, mapMutations} from 'vuex'

  export default {
    name: 'notification-modal',
    data () {
      return {
        dialog: false,
      }
    },
    computed: {
      ...mapGetters(['notifications'])
    },
    methods: {
      ...mapMutations(['']),
    },
    created () {
      eventBus.$on('showNotificationModal', () => {
        this.dialog = true
      })
    }
  }
</script>
