<template lang="pug">
  v-dialog(v-model="dialog" persistent max-width="700px" lazy)
    v-flex.sm12
      v-card
        v-card-title(primary-title)
          h3.headline.mb-0 Edit Profile
        v-card-text
          h3.pb-3(style="color: #66BB6A") Avatar
          div(v-if="!user || !user.avatar") Select an image<br>
            input(type="file" @change="onFileChange")
          div(v-else)
            v-avatar(size="100" color="white")
              img(:src="user.avatar | toAvatarURL" style="border: 2px solid #F5F5F5")
            v-tooltip(top)
              v-btn(fab small color="red" style="margin-left: -30px; margin-top: 70px" 
              slot="activator" @click="removeAvatar")
                v-icon(small) delete
              span Remove avatar

          h3.pt-4(style="color: #66BB6A") Info
          v-form(v-model="valid" v-if="user")
            v-container
              v-layout
                  v-text-field(label="Name" v-model="user.name" :rules="nameRules" required prepend-inner-icon="account_circle")
              v-layout
                v-flex.pa-0
                  v-text-field(label="Email" v-model="user.email" readonly hint="You can hide your email in settings. Not allowed to change email at the moment." prepend-inner-icon="alternate_email")
                v-flex.pr-0.mr-0.xs-4.text-sm-right
                  span(v-if="isEmailConfirmed")
                    v-tooltip(top)
                      v-btn(depressed fab small color="success" slot="activator")
                        v-icon done
                      span Email verified
                  v-btn(v-else flat outline color="green" @click="sendConfirmEmail" :loading="isSendingEmail") Send confirm email
              v-layout
                  v-text-field(label="Team" v-model="user.team" prepend-inner-icon="group" :rules="lengthRules")
              v-layout
                  v-text-field(label="Company" v-model="user.company" prepend-inner-icon="location_city" :rules="lengthRules")
              v-layout
                  v-text-field(label="Location" v-model="user.location" prepend-inner-icon="location_on" :rules="lengthRules")
              v-layout.mt-4
                  v-textarea(outline clearable label="Something about me" v-model="user.about" prepend-inner-icon="face" :rules="aboutRules")
        v-card-actions
          v-spacer
          v-btn(flat @click="dialog = false" :disabled="loading") Cancel
          v-btn(color="info" @click="updateUser" :loading="loading") update
</template>

<script>
import { eventBus, httpCfg } from "~/util/util";
import { mapMutations } from "vuex";

const emailRegex = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

export default {
  name: "user-profile-edit-modal",
  data() {
    return {
      dialog: false,
      user: null,
      valid: false,
      nameRules: [
        v => !!v || "Name is required",
        v => !(v.length > 254) || "Name length must less than 254 chars"
      ],
      lengthRules: [
        v => !(v.length > 254) || "Length must less than 254 chars"
      ],
      aboutRules: [
        v => !(v.length > 1000) || "Length must less than 1000 chars"
      ],
      loading: false,
      avatar: {
        format: "",
        raw: null
      },
      isUserUpdated: false,
      isEmailConfirmed: true,
      isSendingEmail: false
    };
  },
  methods: {
    ...mapMutations(["setAvatar"]),
    updateUser() {
      this.loading = true;
      this.$axios
        .patch(`/v1/users/${this.$route.params.id}`, this.user, httpCfg)
        .then(result => {
          this.isUserUpdated = true;
          eventBus.snackbarShown({
            type: "success",
            msg: `Your profile was updated`
          });
          this.loading = false;
          this.dialog = false;
        })
        .catch(err => {
          this.loading = false;
          console.log(err);
          eventBus.snackbarShown({
            type: "error",
            msg: `Failed to update profile: ${err}`
          });
        });
    },
    onFileChange(e) {
      let files = e.target.files || e.dataTransfer.files;
      if (files.length !== 1) {
        return;
      }
      let f = files[0];
      if (
        f.type !== "image/png" &&
        f.type !== "image/jpeg" &&
        f.type !== "image/gif"
      ) {
        eventBus.snackbarShown({ type: "error", msg: "Invalid file type" });
        return;
      }
      if (f.size > 1000000) {
        // 1MB
        eventBus.snackbarShown({
          type: "error",
          msg: "File size must less than 1MB"
        });
        return;
      }
      this.avatar.format = f.type;
      let reader = new FileReader();
      let vm = this;
      reader.onload = e => {
        vm.avatar.raw = e.target.result;
        vm.uploadUserAvatar();
      };
      reader.readAsDataURL(files[0]);
    },
    uploadUserAvatar() {
      this.loading = true;
      this.$axios
        .post(`/v1/users/${this.$route.params.id}/avatar`, this.avatar, httpCfg)
        .then(result => {
          // Add seed timestamp to force image reload
          let ts = +new Date();
          this.user.avatar = `/api/v1/users/${
            this.$route.params.id
          }/avatar?s=${ts}`;
          this.setAvatar(this.user.avatar);
          this.$axios
            .patch(`/v1/users/${this.$route.params.id}`, this.user, httpCfg)
            .then(res => {
              this.isUserUpdated = true;
              eventBus.snackbarShown({
                type: "success",
                msg: `Your avatar was updated`
              });
              this.loading = false;
            })
            .catch(err => {
              throw err;
            });
        })
        .catch(err => {
          this.loading = false;
          console.log(err);
          eventBus.snackbarShown({
            type: "error",
            msg: `Failed to update avatar: ${err}`
          });
        });
    },
    removeAvatar() {
      this.loading = true;
      this.$axios
        .delete(
          `/v1/users/${this.$route.params.id}/avatar`,
          this.avatar,
          httpCfg
        )
        .then(result => {
          this.user.avatar = ``;
          this.$axios
            .patch(`/v1/users/${this.$route.params.id}`, this.user, httpCfg)
            .then(res => {
              this.isUserUpdated = true;
              this.setAvatar("");
              eventBus.snackbarShown({
                type: "success",
                msg: `Your avatar was removed`
              });
              this.loading = false;
            })
            .catch(err => {
              throw err;
            });
        })
        .catch(err => {
          this.loading = false;
          console.log(err);
          eventBus.snackbarShown({
            type: "error",
            msg: `Failed to remove avatar: ${err}`
          });
        });
    },
    sendConfirmEmail() {
      this.isSendingEmail = true;
      this.$axios
        .get(`/v1/users/${this.$route.params.id}/send-confirm-email`, httpCfg)
        .then(res => {
          this.isSendingEmail = false;
          eventBus.snackbarShown({ type: "success", msg: `Email sent. Please check your inbox!` });
        })
        .catch(err => {
          this.isSendingEmail = false;
          console.log(err)
          eventBus.snackbarShown({ type: "error", msg: `Failed to send confirmation email` });
        });
    },
    refreshEmailConfirmationStatus () {
      this.isEmailConfirmed = true;
      let confirmCookie = this.getCookie("cf_confirm");
      if (confirmCookie && confirmCookie == "true") {
        this.isEmailConfirmed = false;
      }
    }
  },
  created() {
    eventBus.$on("showUserProfileEditModal", user => {
      this.dialog = true;
      this.user = user;
    });
    eventBus.$on("confirmEmail", () => {
      this.refreshEmailConfirmationStatus()
    });
  },
  mounted() {
    this.refreshEmailConfirmationStatus()
  },
  beforeDestroy() {
    if (this.isUserUpdated) {
      eventBus.userProfileUpdated(this.user); // TODO: May force reload rather than notify
    }
  }
};
</script>
