<template lang="pug">
  v-card(light)
    v-card-title(primary-title)
      h3.title.headline.mb-0 {{ challenge.title }}
    v-card-text.mt-0.pt-0
      div.meta
        v-icon(small style="margin-top: -2px") stars</v-icon> {{ challenge.point }} points &nbsp;&nbsp;&nbsp;
        span(@click="showLeaderboard")
          v-icon(small style="margin-top: -2px") face</v-icon> Solved by {{ challenge.solvedBy }} {{ challenge.solvedBy > 1 ? 'people' : 'person' }} &nbsp;&nbsp;&nbsp;
        span(@click="toUserProfile(challenge.postedBy)")
          v-icon(small style="margin-top: -2px") flag</v-icon> Posted by {{ challenge.postedBy || 'admin' }}
      div.pt-2.meta(v-if="challenge.leagues && challenge.leagues.length")
        v-icon(small) flare</v-icon> Earning points from this challenge will be updated to {{ challenge.leagues.length }} active {{ challenge.leagues.length > 1 ? 'leagues' : 'league' }}:<br>
        ul
          li(v-for="(l, idx) in challenge.leagues" :key="idx" style="margin-left: 20px") {{ mapLeagueIDToName(l) }}
      v-divider.mt-2.mb-3(light)
      div(v-html="marked(challenge.description || '')")
</template>

<script>
import {eventBus, httpCfg} from '~/util/util'

export default {
  props: [ 'challenge' ],
  data() {
    return {
      leagueNames: []
    }
  },
  methods: {
    showLeaderboard () {
      eventBus.challengeLeaderboardModalShown()
    },
    toUserProfile (val) {
      if (!val || val === 'admin') {
        return
      }
      this.$router.push(`/users/${val}`)
    },
    resolveLeagueNames() {
      if (!this.challenge.leagues || this.challenge.leagues.length === 0) {
        return
      }
      this.$axios
        .post(`/v1/leagues/resolve-name`, this.challenge.leagues, httpCfg)
        .then(result => {
          this.leagueNames = result.data
        })
        .catch(err => {
          console.log(err);
        });
    },
    mapLeagueIDToName(lid) {
      for (let i = 0; i < this.leagueNames.length; i++) {
        if (this.leagueNames[i].id === lid) {
          return this.leagueNames[i].title
        }
      }
      return lid
    }
  },
  mounted() {
    this.resolveLeagueNames();
  }
}
</script>

<style>
  div.meta,
  div.meta > i,
  div.meta > span > i {
    font-size: 0.85rem;
    color: rgba(0,0,0,.61) !important;
  }

  div.meta > span {
    cursor: pointer;
  }

  div.meta-solved,
  div.meta-solved > i {
    font-size: 0.85rem;
    color: #4CAF50 !important;
  }
  
  ol > li {
    margin-left: 20px;
  }
</style>
