<template lang="pug">
  v-container.pa-0.ma-0(fluid)
    v-layout
      v-flex.xs4.pt-3
        span.title(style="font-weight: 300; color: #00E676") Challenge
      v-flex.xs10.text-xs-right
        v-btn(flat @click="c.disabled = !c.disabled" :color="`${ c.disabled ? 'red' : 'green' }`" v-if='isAdmin')
          v-icon(small) {{ c.disabled ? 'block' : 'check' }}
          span &nbsp;{{ c.disabled ? 'Disabled' : 'Active' }}
        v-btn(flat @click="openPreviewPage")
          v-icon(small) visibility
          span &nbsp;Preview
        v-btn(flat @click="resetAll")
          v-icon(small) replay
          span &nbsp;Reset
        v-menu(bottom left)
          v-btn(flat fab small slot="activator")
            v-icon more_vert
          v-list
            v-list-tile(v-for="(item, idx) in cMenu" :key="item.title" @click="clickChallengeMenu(idx)")
              v-list-tile-title
                v-icon.pr-2 {{ item.icon }}
                | {{ item.title }}
    v-divider
    
    v-form.pt-3(v-if='c && c !== {}')
      v-layout
        v-flex.xs11.pr-3
          v-text-field(label='Title' v-model='c.title' required hint='Name of challenge')
        v-flex.xs1
          v-select(
            :items="slPoints"
            v-model="c.point"
            label="Select point"
            single-line
            menu-props="bottom"
            hint="Points")
      v-textarea(label='Description' outline multi-line v-model='c.shortDesc' rows='3'
        required hint='Short description introduces the challenge. Write in Markdown.')
      v-textarea(label='Content' v-model='c.description' outline multi-line required rows='10'
        hint='Describe the actual challenge content. Write in Markdown.')
      v-textarea(label='Test cases template' v-model='c.template' outline required rows='10'
        hint='Define challenge\'s test cases template in YAML. You can see example in More menu.'
        :error="isTemplateErr")
    
    v-layout
      v-flex.xs12.text-xs-right
        v-btn(flat @click='closeParentDialog' v-if='isDialog') Cancel
        v-btn(color='info' @click='postChallenge') Post challenge

    test-cases-editor-modal
    challenge-json-modal
</template>

<script>
import {role, eventBus, httpCfg} from '~/util/util'
import {mapGetters} from 'vuex'
import TestCasesEditorModal from '~/components/modals/TestCasesEditorModal.vue'
import ChallengeJsonModal from '~/components/modals/ChallengeJsonModal.vue'

let dynamoAddr = process.env.DYNAMO_ADDRESS
let defaultChallenge = {
  title: '',
  shortDesc: '',
  description: '',
  point: 100,
  solvedBy: 0,
  disabled: true,
  codes: [],
  template: ''
}
const defaultData = {
  language: '',
  template: '',
  fixture: '',
  testCase: '',
  timeout: 60000
}

export default {
  name: 'edit-challenge',
  props: ['cid', 'isDialog'],
  components: {
    TestCasesEditorModal,
    ChallengeJsonModal
  },
  data () {
    return {
      c: this.cloneObject(defaultChallenge),
      loading: false,
      isTemplateErr: false,
      localCID: "",
      cMenu: [
        { icon: 'games', title: 'Show me an example' },
        { icon: 'code', title: 'View challenge JSON' },
        { icon: 'chrome_reader_mode', title: 'Open advanced test cases editor' }
      ],
      slPoints: [
        { text: '100', value: 100 },
        { text: '150', value: 150 },
        { text: '200', value: 200 },
        { text: '250', value: 250 },
        { text: '300', value: 300 },
        { text: '350', value: 350 },
        { text: '400', value: 400 },
        { text: '450', value: 450 },
        { text: '500', value: 500 }
      ]
    }
  },
  computed: {
    ...mapGetters(['authUser']),
    isAdmin () {
      return this.authUser && this.authUser.uid && this.authUser.role === role.Administrator
    },
  },
  watch: {
    'c.template'(val) {
      if (!val) {
        this.isTemplateErr = true
        return
      } 
      this.isTemplateErr = false
    }
  },
  methods: {
    getCID () {
      return this.cid ? this.cid : this.localCID
    },
    getChallenge (cid) {
      // Get full challenge only when user is the owner of challenge or admin
      this.$axios.get(`/v1/dev/challenges/f/${cid}/u/${this.authUser.uid}`, httpCfg)
        .then((res) => {
          if (!res.data) {
            this.resetAll()
            return
          }
          if (!this.isAdmin && res.data.postedBy !== this.authUser.uid) {
            eventBus.snackbarShown({type: 'error', msg: `You don't have permission to edit this challenge`})
            return
          }
          this.c = res.data
          delete this.c['id']
          this.codes = (this.c.codes || []).length ? this.c.codes[0] : this.cloneObject(defaultData)
        })
        .catch((err) => {
          eventBus.snackbarShown({type: 'error', msg: `Failed to load challenge: ${err}`})
        })
    },
    resetAll () {
      // TODO: Should require confirmation when user clicked on Reset button
      this.c = this.cloneObject(defaultChallenge)
      this.codes = this.cloneObject(defaultData)
      this.localCID = ""
    },
    closeParentDialog () {
      if (this.isDialog) {
        eventBus.editChallengeModalToggled(null)
      }
    },
    openPreviewPage () {
      window.open('/challenge/preview')
    },
    clickChallengeMenu (idx) {
      switch (idx) {
        case 0: // Examples
          this.showExample()
          return
        case 1: // JSON
          this.ensureFields()
          eventBus.challengeJsonModalShown(this.c)
          return
        case 2: // Advanced editor
          if (!this.c.template || !this.c.template.length) {
            eventBus.snackbarShown({type: 'warning', msg: 'Please define the test cases template first!'})
            return
          }
          eventBus.testCasesEditorModalShown(this.c.template, this.cloneObject(this.c.codes || []))
      }
    },
    showExample () {
      let idx = 0
      // Randomize [0, exampleTemplates.length) to get new example
      while (exampleTemplates.length > 1 && this.c.title === exampleTemplates[idx].title) {
        idx = Math.floor((Math.random() * (exampleTemplates.length - 1)))
      }
      this.c = this.cloneObject(exampleTemplates[idx])
      this.codes = this.cloneObject(defaultData)
    },
    generateData () {
      return new Promise((resolve, reject) => {
        if (!this.c.template || !this.c.template.length) {
          reject(new Error('Test cases template must be defined'))
          return
        }
        this.$axios.post(`/v1/gen`, this.c.template, httpCfg)
          .then((res) => {
            res.data.forEach(element => {
              if (!element.timeout) {
                element.timeout = defaultData.timeout
              }
            })
            resolve(res.data)
          })
          .catch((err) => {
            reject(err)
          })
      })
    },
    async postChallenge () {
      // TODO: Validate before posting
      this.loading = true
      if (!this.c.codes || !this.c.codes.length) {
        if (!this.c.template || !this.c.template.length) {
          this.isTemplateErr = true
          eventBus.snackbarShown({type: 'error', msg: `Please define test case template first!`})
          return
        }

        // Auto generate test cases
        try {
          this.c.codes = await this.generateData() // TODO: Generate by selected languages
        } catch (err) {
          eventBus.snackbarShown({type: 'error', msg: `Failed to generate test cases: ${err}`})
          return
        }
      }

      if (!this.isAdmin) {
        // Always set the challenge to disabled state after owner making changes
        // Admin have to recheck and enable the challenge later.
        this.c.disabled = true
      }

      let p
      let cid = this.getCID()
      if (cid) { // Update created challenge
        p = this.$axios.patch(`/v1/dev/challenges/${cid}/u/${this.authUser.uid}`, this.c, httpCfg)
      } else { // Create new one
        this.ensureFields()
        p = this.$axios.post(`/v1/dev/challenges`, this.c, httpCfg)
      }

      p
        .then((res) => {
          eventBus.snackbarShown({type: 'success', msg: 'Challenge saved. Please find more info from console!'})
          this.localCID = res.data.id
          this.loading = false
          // TODO since `this vm` can't be access inside async/await, we use global bus as workaround
          eventBus.$emit('challengeUpdated')
        })
        .catch((err) => {
          this.loading = false
          eventBus.snackbarShown({type: 'error', msg: `Failed to save challenge: ${err}`})
        })
    },
    ensureFields () {
      if (!this.c.postedBy || !this.c.postedBy.length) {
        this.c.postedBy = this.authUser.uid
      }
      this.c.createdAt = +new Date()/1000|0
    }
  },
  watch: {
    cid: {
      immediate: true,
      handler (newVal, oldVal) {
        if (!newVal) {
          this.c = this.cloneObject(defaultChallenge)
          return
        }
        this.getChallenge(newVal)
      }
    },
    c: {
      // Reflect the challenge data to preview in realtime
      immediate: true,
      deep: true,
      handler (newVal, oldVal) {
        if (!newVal) {
          return
        }
        this.$ls.set('previewChallenge', newVal) // Write to local storage so other tabs/windows can be synced
      }
    }
  },
  mounted () {
    eventBus.$on('changeTestCasesData', (codes) => {
      this.$set(this.c, 'codes', codes) // Use $set to trigger the data change on c watch properly
      eventBus.snackbarShown({type: 'success', msg: 'Test codes data has been updated'})
    })
  }
}

const exampleTemplates = [
  {
    title: 'Journey to the West',
    shortDesc: 'You are given *two different* numbers on a plane. Each numbers is a integer, what is the sum of them?',
    description: 'You are given two different numbers on a plane. Each numbers is a integer, what is the sum of them?\n\n### Input parameters\n\n  + **integer a**\n    first number for the calculation\n\n  + **integer b**\n    second number for the calculation\n\n### Expected result\n\n  + **integer**\n    sum of two numbers above',
    point: 100,
    template: 'function:\r\n  name: sum_two_integers\r\n  params:\r\n  - a int\r\n  - b int\r\n  returns:\r\n  - int\r\n\r\nfixtures:\r\n  describe: Add two numbers\r\n  cases:\r\n  - it: Sum of two positive numbers\r\n    args:\r\n    - 1\r\n    - 2\r\n    expected:\r\n    - 3\r\n  - it: Should return sum of two negative numbers\r\n    args:\r\n    - -1\r\n    - -3\r\n    expected:\r\n    - -4\r\n  - args:\r\n    - -10\r\n    - 5\r\n    expected:\r\n    - -5\r\n\r\ntestcases:\r\n  cases:\r\n  - args:\r\n    - 1000\r\n    - 2000\r\n    expected:\r\n    - 3000',
    solvedBy: 0,
    disabled: true
  }
]
</script>

<style scoped>
</style>
