<template lang="pug">
  #menu
    ul
      li(v-for="item in items" :key="item.href")
        nuxt-link(:to="item.href") {{item.label}}
    a.close(@click="$emit('close')" style="cursor: pointer")
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      required: true
    }
  }
}
</script>
