<template lang="pug">
  v-container(fluid fill-height)
    v-layout(row mt5 v-if='!c || !isAuth')
      v-flex(xs12 text-sm-center mt-5)
        v-icon(large mb-2) sentiment_very_dissatisfied
        p.title.pt-2 No challenge data to preview
    v-layout(row wrap v-else)
      v-flex(d-flex fill-height xs12 md5 v-if="instructionPanel")
        instruction-panel(:challenge='c')
      v-flex(d-flex xs12 :class="{ 'md7': instructionPanel, 'md12': !instructionPanel }")
        solution-panel(:challenge='c')
</template>

<script>
import InstructionPanel from '~/components/challenge/preview/InstructionPanel'
import SolutionPanel from '~/components/challenge/preview/SolutionPanel'

import {eventBus} from '~/util/util'
import {mapGetters, mapMutations} from 'vuex'

export default {
  components: {
    InstructionPanel,
    SolutionPanel
  },
  data () {
    return {
      c: null
    }
  },
  computed: {
    ...mapGetters(['instructionPanel', 'authUser']),
    isAuth () {
      return this.authUser && this.authUser.uid
    }
  },
  watch: {
    'c.title' (val) {
      if (!val) {
        this.setTitle(`<span class="white--text">Preview</span>`)
      } else {
        this.setTitle(`<span class="white--text">Preview &nbsp;&nbsp;/ &nbsp;&nbsp;${this.c.title}</span>`)
      }
    }
  },
  methods: {
    ...mapMutations(['setTitle', 'setDrawer'])
  },
  created () {
    // Sync preview data from local storage
    this.c = this.$ls.get('previewChallenge', {})
    this.$ls.on('previewChallenge', (val) => {
      this.c = val
    })
  },
  mounted () {
    this.setDrawer(false)
    eventBus.drawerToggled(false)
    this.setTitle(`<span class="white--text">Preview</span>`)
    document.title = 'Code Fighter | Preview Challenge'
  }
}
</script>
